/* This source code is exported from pxCode, you can get more document from https://www.pxcode.io */
.new-item-group {
  display: flex;
  background-color: white;
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.25098);
  border-radius: 16px 16px 0px 0px;
}

.new-item-group.layout {
  position: relative;
  overflow: visible;
  min-height: 295px;
  flex-grow: 1;
  margin: 0px;
}

.new-item-group1 {
  display: flex;
}

.new-item-group1.layout {
  position: relative;
  overflow: visible;
  min-height: 263px;
  flex-grow: 1;
  margin: 16px 24px;
}

.new-item-cover-group {
  display: flex;
  background-color: #e8e8e8;
  border-radius: 5px 5px 5px 5px;
}

.new-item-cover-group.layout {
  position: absolute;
  overflow: visible;
  top: 234px;
  bottom: 0px;
  min-height: 29px;
  left: 0px;
  right: 0px;
  width: 90px;
  min-width: 90px;
  margin: 0px auto;
}

.new-item-txt {
  display: flex;
  justify-content: center;
  font: 16px/1.2 "Inter", Helvetica, Arial, serif;
  color: black;
  text-align: center;
  letter-spacing: 0px;
}

.new-item-txt.layout {
  position: relative;
  height: min-content;
  width: 54.44%;
  min-width: min-content;
  margin: 5px auto 0px;
}

.new-item-group2 {
  display: flex;
  background-color: #e86200;
  border-radius: 25.5px 25.5px 25.5px 25.5px;
}

.new-item-group2.layout {
  position: absolute;
  overflow: visible;
  top: 170px;
  bottom: 42px;
  min-height: 51px;
  left: 0px;
  flex-grow: 1;
  right: 0px;
}

.new-item-txt1 {
  display: flex;
  justify-content: center;
  font: 16px/1.2 "Inter", Helvetica, Arial, serif;
  color: white;
  text-align: center;
  letter-spacing: 0px;
}

.new-item-txt1.layout {
  position: relative;
  height: min-content;
  width: fit-content;
  margin: 16px auto 0px;
}

.new-item-medium-title-box {
  display: flex;
  justify-content: center;
}

.new-item-medium-title-box.layout {
  position: relative;
  flex-grow: 1;
  margin: 33px 71px 172px;
}

.new-item-medium-title {
  overflow: visible;
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 0px;
  font: 500 24px/1.2 "Inter", Helvetica, Arial, serif;
  color: black;
  text-align: center;
  letter-spacing: 0px;
  white-space: pre-wrap;
}

.new-item-highlights {
  display: flex;
  justify-content: center;
  font: 500 16px/1.2 "Inter", Helvetica, Arial, serif;
  color: #676767;
  text-align: center;
  letter-spacing: 0px;
}

.new-item-highlights.layout {
  position: absolute;
  top: 122px;
  bottom: 121px;
  left: 0px;
  flex-grow: 1;
  right: 0px;
}

.new-item-rect {
  background-color: #e8e8e8;
  border-radius: 2px 2px 2px 2px;
}

.new-item-rect.layout {
  position: absolute;
  top: 0px;
  height: 4px;
  left: 0px;
  right: 0px;
  width: 32px;
  min-width: 32px;
  display: block;
  margin: 0px auto 259px;
}
